extends layouts/_default.jade
block content

	head
		//loading bootstrap
		link(href="../assets/css/Flat-UI-master/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
		//loading flat-ui
		link(href="../assets/css/Flat-UI-master/dist/css/flat-ui.min.css" rel="stylesheet")

		h1 Atoms

		div(class="list-group ancho-ele")
					a(class="list-group-item list-group-item-action" href="") Default Button
					a(class="list-group-item list-group-item-action" href="") Info Button
					a(class="list-group-item list-group-item-action" href="") Danger Button
					a(class="list-group-item list-group-item-action" href="hola") Disabled Button
					a(class="list-group-item list-group-item-action" href="") Label

	

