extends layouts/_default.jade
block content

    head
        meta(charset="uft-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        //loading bootstrap
        link(href="../assets/css/Flat-UI-master/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
        
        //loading flat-ui
        link(href="../assets/css/Flat-UI-master/dist/css/flat-ui.min.css" rel="stylesheet")
    
        content(class="container col-md-12 col-xs-12 col-lg-12")
            nav(class="navbar navbar-default") 
                    p Brand
                div(class="col-md-3")

        div(class="col-md-1")
        div(class="col-md-1")  
        div(class="btn-group")
            button(class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown")
                i(class="img-rounded")
                span (class="caret")
            ul
                li 
                    a(href="#") action1
        
        Div(class="row")
            div(class="col-offset-1")

                content(class="col-md-10 content-fluid")
                    p content_one
                        ul 
                            li 
                                a contenido
            

    div(class="navbar navbar-default navbar-fixed-bottom")


                
                    

