extends layouts/_default.jade
block content

	head
		

		div(class="")

			h1
				Dashboard
			ul
				li
					a(href="Atoms.html") atomos
				li
					a(href="Organisms_page.html") organisms
				li
					a(href="LayOuts_page.html") pages

				li 
					a(href="hola") hola

						








