extends layouts/_default.jade
block content

	head
		link(href="../assets/css/Flat-UI-master/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")

		link(href="../assets/css/Flat-UI-master/dist/css/flat-ui.min.css" rel="stylesheet")
		
		div(class="" id="dash")
				h2 Dashboard

			ul(class="nav flex-column")

			li
				a(class="nav-item" href="Atoms.html") Atoms
			li
				a(class="nav-item" href="Organisms_page.html") Organisms
			li
				a(class="nav-item" href="LayOuts_page.html") Pages
				

						








