extends layouts/_default.jade
block content

     
 
    head
          

        div(class="btn-info")

            a(href="Assets00X.jade" target="blank") hola

                
                    








