extends layouts/_default.jade
block content

	head
		//loading bootstrap
		link(href="../assets/css/Flat-UI-master/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
		//loading flat-ui
		link(href="../assets/css/Flat-UI-master/dist/css/flat-ui.min.css" rel="stylesheet")

		h1 Layouts

		div(class="list-group ancho-ele")
					a(class="list-group-item list-group-item-action" href="Assets00X.html") Assets
					a(class="list-group-item list-group-item-action" href="Create002.html") 002
					a(class="list-group-item list-group-item-action" href="Execute003.html") 003
					a(class="list-group-item list-group-item-action" href="Historic.html") 004
					

	

